
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Nunito:ital,wght@1,700&display=swap');



body {
    background-color: black;
}

h1 {
font-family: "jersey 10";
font-size: 100px;
color: white;
background-color: rgb(215, 59, 64);
height: 200px;
text-align: center;
padding-top: 50px;
font-family: "jersey 10";
}



h4 {
    font-family: "jersey 10";
    font-size: 40px;
    }

label{
    font-family: "jersey 10";
    font-size: 30px;     
}


